/* Global Styles 
****************/

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.5;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1.5;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

p {
	color: #8f8f8f;
}

/* Title 
********/

#title {
	background-color: #fc3552;
	color: #ffffff;
}

.container-fluid {
	padding: 3em 15em 7em;
}

.title-img {
	/* margin-left: 18em; */
	position: absolute;
	right: 20%;
	transform: rotate(25deg);
	width: 15%;
}

/* Navigation Bar
****************/

.navbar {
	padding: 0 0 4.5em;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

/* Download Buttons 
*******************/

.down-btn {
	margin: 2em 1em 2em 0;
}

/* Features 
***********/

#features {
	background-color: #ffffff;
	padding: 7em 15em;
	position: relative;
	z-index: 1;
}

.feature-box {
	padding: 2em;
	text-align: center;
}

.icon {
	color: #ef8172;
	margin-bottom: 0.2em;
}

.icon:hover {
	color: #fc3552;
}

/* Testimonials 
***************/

#testimonials {
	background-color: #ef8172;
	color: #ffffff;

	text-align: center;
}

.testimonial-img {
	border-radius: 100%;
	margin: 1.2em;
	width: 10%;
}

.carousel-item {
	padding: 7em 15em;
}

/* Press 
********/

#press {
	background-color: #ef8172;
	padding-bottom: 1.5em;
	text-align: center;
}

.press-logo {
	margin: 1.2em 1.2em 3em;
	width: 15%;
}

/* Pricing 
**********/

#pricing {
	padding: 10em;
	text-align: center;
}

.pricing-column {
	padding: 2em 1em;
}

/* CTA Section 
**************/

.cta-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	line-height: 1.5;
}

#cta {
	background-color: #fc3552;
	color: #ffffff;
	padding: 7em 15em;
	text-align: center;
}

/* Footer 
*********/

#footer {
	padding: 2em 10em;
	text-align: center;
}

.social-icon {
	margin: 1em 0.5em;
}

/* Media Queries 
****************/

@media (max-width: 1028px) {
	#title {
		text-align: center;
	}

	.title-image {
		position: static;
		transform: rotate(0);
	}
}
